.about {
    background-color: transparent;
    font-size: 1em;
  }
  
  .profile {
    max-width: 18em;
  }
  
  .my-details {
    background-color: rgba(255, 255, 255, 0.747);
  }

  .font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: #ffffff;
  }

  .education-title {
    font-weight: 700;
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .education-item {
    margin-bottom: 0.8em;
  }